<div class="indy-regions-paint-dialog">
  <details class="notes indy-full-row" data-paint-help{{{helpOpenAttr}}}{{{helpStyle}}}>
    <summary>{{help.title}}</summary>
    <div class="indy-help-body">
      <div>{{help.shiftDrag}}</div>
      <div>{{help.ctrlClick}}</div>
      <div>{{help.ctrlShiftClick}}</div>
      <div>{{help.altClick}}</div>
      <div>{{help.shiftAltClick}}</div>
      <div>{{help.ctrlWheel}}</div>
    </div>
  </details>

  <div class="indy-form-row indy-full-row"{{{debugStyle}}}>
    <span data-water-status>{{status.paint}}</span>
  </div>

  <div class="indy-form-row">
    <label>{{labels.history}}</label>
    <div class="indy-form-fields indy-history-row">
      <button type="button" data-paint-action="undo" disabled><i class="fas fa-undo"></i> {{buttons.undo}}</button>
      <button type="button" data-paint-action="redo" disabled><i class="fas fa-redo"></i> {{buttons.redo}}</button>
    </div>
  </div>

  <div class="indy-form-row">
    <label>{{labels.cleanup}}</label>
    <div class="indy-form-fields indy-cleanup-row">
      <button type="button" class="indy-cleanup-button" data-paint-action="remove-tiny-islands"><i class="fas fa-broom"></i> {{buttons.removeTinyIslands}}</button>
      <button type="button" class="indy-cleanup-button" data-paint-action="remove-tiny-holes"><i class="fas fa-circle-dot"></i> {{buttons.removeTinyHoles}}</button>
    </div>
  </div>

  <div class="indy-form-row">
    <label>{{labels.penColour}}</label>
    <div class="indy-form-fields">
      <input type="color" name="paintColor" value="{{values.paintColor}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.paintOpacity}}">{{labels.paintOpacity}}</label>
    <div class="indy-form-fields">
      <input type="range" name="paintOpacity" min="0" max="1" step="0.05" value="{{values.paintOpacity}}" title="{{hints.paintOpacity}}">
      <input type="number" name="paintOpacity" min="0" max="1" step="0.05" value="{{values.paintOpacity}}" title="{{hints.paintOpacity}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.brushSize}}">{{labels.brushSize}}</label>
    <div class="indy-form-fields">
      <input type="range" name="brushSizePx" min="1" max="512" step="1" value="{{values.brushSizePx}}" title="{{hints.brushSize}}">
      <input type="number" name="brushSizePx" min="1" max="512" step="1" value="{{values.brushSizePx}}" title="{{hints.brushSize}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.fillTolerance}}">{{labels.fillTolerance}}</label>
    <div class="indy-form-fields">
      <input type="range" name="tolerance" min="1" max="160" step="1" value="{{values.tolerance}}" title="{{hints.fillTolerance}}">
      <input type="number" name="tolerance" min="1" max="160" step="1" value="{{values.tolerance}}" title="{{hints.fillTolerance}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.hslFillBias}}">{{labels.hslFillBias}}</label>
    <div class="indy-form-fields">
      <div class="indy-slider-with-end-labels">
        <input type="range" name="hslFillBias" min="-1" max="1" step="0.05" value="{{values.hslFillBias}}" title="{{hints.hslFillBias}}">
        <div class="indy-slider-end-labels" aria-hidden="true">
          <span>{{labels.lightness}}</span>
          <span>{{labels.hue}}</span>
        </div>
      </div>
      <input type="number" name="hslFillBias" min="-1" max="1" step="0.05" value="{{values.hslFillBias}}" title="{{hints.hslFillBias}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.fillBridge}}">{{labels.fillBridge}}</label>
    <div class="indy-form-fields">
      <input type="range" name="fillBridgePx" min="0" max="{{maxFillBridgePx}}" step="1" value="{{values.fillBridgePx}}" title="{{hints.fillBridge}}">
      <input type="number" name="fillBridgePx" min="0" max="{{maxFillBridgePx}}" step="1" value="{{values.fillBridgePx}}" title="{{hints.fillBridge}}">
    </div>
  </div>

  <input type="hidden" name="fillColorMode" value="hsl">

  <div class="indy-form-row">
    <label title="{{hints.fillHoles}}">{{labels.fillHoles}}</label>
    <div class="indy-form-fields indy-checkbox-row">
      <input type="checkbox" name="fillHoles" value="1" title="{{hints.fillHoles}}" {{values.fillHoles}}>
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.gridStep}}">{{labels.gridStep}}</label>
    <div class="indy-form-fields">
      <input type="range" name="gridStep" min="1" max="16" step="1" value="{{values.gridStep}}" title="{{hints.gridStep}}">
      <input type="number" name="gridStep" min="1" max="16" step="1" value="{{values.gridStep}}" title="{{hints.gridStep}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.shrinkGrow}}">{{labels.shrinkGrow}}</label>
    <div class="indy-form-fields">
      <input type="range" name="featherShrinkPx" min="-128" max="128" step="1" value="{{values.featherShrinkPx}}" title="{{hints.shrinkGrow}}">
      <input type="number" name="featherShrinkPx" min="-128" max="128" step="1" value="{{values.featherShrinkPx}}" title="{{hints.shrinkGrow}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.borderSmooth}}">{{labels.borderSmooth}}</label>
    <div class="indy-form-fields">
      <input type="range" name="smoothing" min="0" max="32" step="0.25" value="{{values.smoothing}}" title="{{hints.borderSmooth}}">
      <input type="number" name="smoothing" min="0" max="32" step="0.25" value="{{values.smoothing}}" title="{{hints.borderSmooth}}">
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.borderSmoothType}}">{{labels.borderSmoothType}}</label>
    <div class="indy-form-fields indy-select-row">
      <select name="borderSmoothType" title="{{hints.borderSmoothType}}">
        {{{borderSmoothTypeOptions}}}
      </select>
    </div>
  </div>

  <div class="indy-form-row">
    <label title="{{hints.borderThickness}}">{{labels.borderThickness}}</label>
    <div class="indy-form-fields">
      <input type="range" name="paintBorderThickness" min="0" max="4" step="0.25" value="{{values.paintBorderThickness}}" title="{{hints.borderThickness}}">
      <input type="number" name="paintBorderThickness" min="0" max="4" step="0.25" value="{{values.paintBorderThickness}}" title="{{hints.borderThickness}}">
    </div>
  </div>
</div>
